<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/car_configurator</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <mapping class="com.ardecs.car_configurator.ModelEntity"/>
        <mapping class="com.ardecs.car_configurator.BrandEntity"/>
        <mapping class="com.ardecs.car_configurator.EquipmentEntity"/>
        <mapping class="com.ardecs.car_configurator.EngineEntity"/>
        <mapping class="com.ardecs.car_configurator.AccessoryEntity"/>
        <mapping class="com.ardecs.car_configurator.ColorEntity"/>
    </session-factory>
</hibernate-configuration>