<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Producers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<form style="margin-top: 5px; margin-bottom: 5px" th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
</form>

<form style="margin-bottom: 5px" th:action="@{/registration}" method="get" sec:authorize="hasRole('ADMIN')">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go to Registration Page</button>
</form>

<div class="containerInner">
    <div class="cardInner">
        <div style="width: 100%">
            <p>
                <a href="new" class="second">
                    <img th:src="@{/images/add.png}">
                </a>
            </p>
            <div style="width: 100%">
                <table>
                    <tbody style="background: lightgoldenrodyellow">
                    <tr th:each="brand : ${brandList}">
                        <td>
                            <span>[[${brand.name}]]</span>
                        </td>
                        <td>
                            <a th:href="@{/model/{id}(id=${brand.id})}">
                                <img th:src="@{/images/view.png}">
                            </a>
                        </td>
                        <td>
                            <form th:action="@{{id}(id=${brand.id})}"
                                  th:method="get">
                                <input type="image"
                                       class="second"
                                       th:src="@{/images/fix.png}"
                                />
                            </form>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <form th:action="@{{id}(id=${brand.id})}"
                                  th:method="delete">
                                <input type="image"
                                       class="second"
                                       th:src="@{/images/delete.png}"
                                />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>