<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complectations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="containerInner">
    <div class="cardInner">
        <div class="tools">
            <div>
                <a th:href="@{/modComp/}">
                    <img th:src="@{/images/add.png}">
                </a>
            </div>
            <div>
                <a th:href="@{/model/{brandId}(brandId=${brandId})}">
                    <img th:src="@{/images/back.png}">
                </a>
            </div>
        </div>
        <div style="width: 100%">
            <table>
                <tbody style="background: lightgoldenrodyellow">
                <tr th:each="complect : ${complectations}">
                    <td>
                        <span>[[${complect.name}]]</span>
                    </td>
                    <td>
                        <img th:src="@{/images/price.png}">
                        <span>[[${prices.next()}]]</span>
                    </td>
                    <td>
                        <a type="image" th:href="@{/modComp/allStuff/{compId}(compId=${complect.id} )}">
                            <img th:src="@{/images/view.png}"/>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/modComp/{compId}(compId=${complect.id})}"
                              th:method="delete">
                            <input type="image"
                                   th:src="@{/images/delete.png}">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>