<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="containerInner">
    <div class="cardInner">
        <div class="tools">
            <div>
                <a th:href="@{/model/new/{brandId}(brandId=${brandId})}">
                    <img th:src="@{/images/add.png}">
                </a>
            </div>
            <div>
                <a href="/brand/list">
                    <img th:src="@{/images/back.png}">
                </a>
            </div>
        </div>
        <div style="width: 100%">
            <table>
                <tbody style="background: lightgoldenrodyellow">
                <tr th:each="model : ${modelEntityList}">
                    <td>
                        <span>[[${model.name}]]</span>
                    </td>
                    <td>
                        <img th:src="@{/images/price.png}">
                        <span>[[${model.price}]]</span>
                    </td>
                    <td>
                        <a type="image"
                           th:href="@{/modComp/{mId}/{bId}(mId=${model.id},bId=${brandId})}">
                               <img th:src="@{/images/view.png}"/>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/model/renewed/{id}(id=${model.id})}"
                              th:method="get">
                            <input type="image"
                                   th:src="@{/images/fix.png}"
                            />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/model/{id}(id=${model.id})}"
                              th:method="delete">
                            <input type="image"
                                   th:src="@{/images/delete.png}">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>